In [2]:
#------------WEEK 01 PRE-LECTURE HOMEWORK------------

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum

<bound method DataFrame.sum of      survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0       False   False  False  False  False  False  False     False  False
1       False   False  False  False  False  False  False     False  False
2       False   False  False  False  False  False  False     False  False
3       False   False  False  False  False  False  False     False  False
4       False   False  False  False  False  False  False     False  False
..        ...     ...    ...    ...    ...    ...    ...       ...    ...
886     False   False  False  False  False  False  False     False  False
887     False   False  False  False  False  False  False     False  False
888     False   False  False   True  False  False  False     False  False
889     False   False  False  False  False  False  False     False  False
890     False   False  False  False  False  False  False     False  False

       who  adult_male   deck  embark_town  alive  alone
0    False       False   True        False  False  False
1    False       False  False        False  False  False
2    False       False   True        False  False  False
3    False       False  False        False  False  False
4    False       False   True        False  False  False
..     ...         ...    ...          ...    ...    ...
886  False       False   True        False  False  False
887  False       False  False        False  False  False
888  False       False   True        False  False  False
889  False       False  False        False  False  False
890  False       False   True        False  False  False

[891 rows x 15 columns]>

In [3]:
rows, cols = df.shape

print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

Number of rows: 891
Number of columns: 15

In [4]:
numerical_summary = df.describe()

# Get summary statistics for all columns (including categorical)
full_summary = df.describe(include='all')

# Print the summaries
print("Numerical Columns Summary:")
print(numerical_summary)

print("\nFull Dataset Summary (including categorical columns):")
print(full_summary)

Numerical Columns Summary:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Full Dataset Summary (including categorical columns):
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [5]:
total_columns = df.shape[1]  # Total number of columns in the dataset
described_columns = df.describe().shape[1]  # Number of columns analyzed by describe()

if total_columns != described_columns:
    print(f"Discrepancy in columns: describe() analyzed {described_columns} out of {total_columns} total columns.")
else:
    print("No discrepancy in the number of columns analyzed by describe().")

# (b) Compare the "count" values reported in describe() with total rows in df.shape
total_rows = df.shape[0]  # Total number of rows in the dataset

# Get the count column from describe() (this shows non-null values)
describe_counts = df.describe().loc['count']

# Check discrepancies between total rows and the "count" column in describe()
discrepancies = describe_counts[describe_counts != total_rows]

if not discrepancies.empty:
    print("Discrepancies found in the count column:")
    print(discrepancies)
else:
    print("No discrepancies in the count column; all columns have the expected number of rows.")

Discrepancy in columns: describe() analyzed 6 out of 15 total columns.
Discrepancies found in the count column:
age    714.0
Name: count, dtype: float64

In [ ]:
"""
df.shape vs df.describe()

Atrributes like df.shape, act like variables that directly access data held in the object of df which is most likely a public var

On the other hand df.describe(). the paranthesis indicate that it is a method of the df object that is called on to do a series of actions and possible return a value, rather than returning something that is already stored. 
"""